<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652744722232-e9e6aoe1n1bfudtkdpb62ng3jgeg2gm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652744722232-e9e6aoe1n1bfudtkdpb62ng3jgeg2gm5</string>
	<key>API_KEY</key>
	<string>AIzaSyDfel0JMOYeZjZGgklF3lGYDXSjjzSATDY</string>
	<key>GCM_SENDER_ID</key>
	<string>652744722232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.manten.jumper.MakeTableView</string>
	<key>PROJECT_ID</key>
	<string>firstfirebase-894dc</string>
	<key>STORAGE_BUCKET</key>
	<string>firstfirebase-894dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652744722232:ios:8b028cbe7da7e41ca3a3cd</string>
	<key>DATABASE_URL</key>
	<string>https://firstfirebase-894dc.firebaseio.com</string>
</dict>
</plist>